footer {
    background-color: grey;
    padding-top: 2rem;
    margin: 0;
    p {
    background-color: black;
    width: 100%; }  
}  

.rodando {
    padding-bottom: 2rem;
}  
        
.redes {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-items: center;
    h3 {
    padding-top: 1rem;
    font-size: 2em;
    color: white }
}

.redes__nav {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding-bottom: 2rem;    
}