@import "footer";
@import "header";

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body {
    background-color: black;
    color: white;
    width: 100%;
    height: fit-content;}

.container-fluid {
    padding-right: 0px; }

h1 {
    padding-top: 6rem;
    padding-bottom: 3rem;
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500; }
    
.presentacion {
    display: block;
    background-image: url(../multimedia/fondoblanco.png);
    text-align: center;
    align-items: center;
    width: 100%;
    .presentacion video {
    width: 50rem;
    border: 0; }
    .presentacion h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem; }
    .presentacion h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: black;
    background-color: grey;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    height: 3rem; }
}
    
.extras {
    background: linear-gradient(180deg, black 0%, #07034a 50%, navy 100%);
    display: flex;
    flex-flow: row nowrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-items: center;
    align-items: center;
    h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem; }    
}

.extras__locacion {
    display: inline-block;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    iframe {
    border: 0;
    border-radius: 1.3rem;
    width: 25rem;
    height: 25rem; }
    p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem; }
    a input {
    width: 12.5rem;
    height: 3rem;
    background-color: white;
    color: blue;
    border-style: outset;
    font-weight: bold;
    border-radius: 0.6rem;
    transition: all 1s; }
    a input:hover {
    width: 13rem;
    height: 3.5rem;
    border-style: inset;
    background-color: black; }
}

.extras__musica {
    display: inline-block;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    iframe {
    border: 0;
    border-radius: 1.3rem;
    width: 25rem;
    height: 34.3rem; }
}

.albumes {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%; }
  
.visuales {
    display: inline-flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: linear-gradient(180deg, black 0%, #07034a 50%, black 100%); }
  
.visuales__captura {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 50%;
    video {
    width: 20rem;
    border: 0; }
    h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem; }    
}

.visuales__fotos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    li {
    list-style: none;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem; }
    li img {
    border: white solid 0.06rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: black; }
    li img:hover {
    transform: translate(10px, 20px); }
}

.videocrew {
    display: block;
    text-align: center;
    align-items: center;
    background-image: url(../multimedia/fondoblanco.png);
    width: 100%;
    video {
    width: 25rem;
    border: 0; }
    h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem; }
    p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem; }
}

.tours {
    background: linear-gradient(180deg, black 0%, #07034a 50%, navy 100%);
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem; }
  
.tours__contacto {
    display: block;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;}
    a input {
    width: 12.5rem;
    height: 3rem;
    background-color: white;
    color: blue;
    border-style: outset;
    font-weight: bold;
    border-radius: 0.6rem;
    transition: all 1s; }
    a input:hover {
    width: 13rem;
    height: 3.7rem;
    border-style: inset;
    background-color: black; }
}    
  
.tours__mapa {
    display: inline-flex;
    flex: 1;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    li {
    list-style: none;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;}
    h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center; }    
    iframe {
    border: 0;
    border-radius: 1rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    width: 12rem;
    height: 12rem; }
}
  
.ventas {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%; }
  
.productos {
    display: inline-flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: linear-gradient(180deg, black 0%, #07034a 50%, black 100%); }
  
.listado {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    li {
    list-style: none;
    display: flex;
    flex: 1; }
    li img {
    border-radius: 1rem; }
    li img:hover {
    transform: translate(10px, 20px); }
}  

.seleccion {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 50%;
    form legend h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    img {
    border-radius: 1rem; }
    fieldset {
    border: white solid;
    border-radius: 1rem;
    justify-content: center;
    padding: 2rem; }
    p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; }
    form div {
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem; }
    form div select {
    width: 10rem;
    height: 2rem;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 0.6rem;
    transition: all 1s; }
    form div select:focus {
    width: 11rem;
    height: 3rem; }
}

.boton {
    width: 12.5rem;
    height: 3rem;
    background-color: white;
    color: blue;
    border-style: outset;
    font-weight: bold;
    border-radius: 0.6rem;
    transition: all 1s; }
  
.boton:hover {
    width: 13rem;
    height: 3.7rem;
    border-style: inset;
    background-color: black; }
  
.registro {
    display: block;
    justify-content: center;
    text-align: center;
    background-image: url(../multimedia/fondoblanco.png);
    fieldset {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: black;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem; }
    form legend h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem; }
    p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem; }
    form div {
    font-family: 'Roboto', sans-serif;
    padding: 1rem; }
    form div select {
    width: 10rem;
    height: 2rem;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 0.6rem;
    transition: all 1s; }
    form div select:focus {
    width: 11rem;
    height: 3rem; }
}

.completar {
    width: 10rem;
    height: 2rem;
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 0.6rem;
    transition: all 1s; }
  
.completar:focus {
    width: 11rem;
    height: 3rem; }
    
/* ----------------- MEDIA QUERIES ------------------- */

@media (max-width: 768px) {

    h1 {
      background-image: url(../multimedia/fondoblanco.png);
      background-size: 400px;  
      font-size: 3.5em; }
    header {
      background-image: url(../multimedia/fondoblanco.png);
      background-size: 400px; 
      background-color: unset; }
    .presentacion {
      background-image: none;
      border: 0;
      padding: 0;
      margin: 0; }
    .presentacion video {
      background-image: url(../multimedia/fondoblanco.png);
      background-size: 400px; 
      width: 20rem; }
    .presentacion h2 {
      font-weight: 300;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    .presentacion h4 {
      font-weight: 200;
      color: white;
      background-color: unset;
      height: fit-content; }
    .extras__locacion iframe {
      width: 15rem;
      height: 15rem; }
    .extras__musica iframe {
      width: 15rem;
      height: 20.3rem; }
    footer {
      width: fit-content;}  
    footer img {
      width: 200px;}
    .redes h3 {
      padding-top: 1rem;
      font-size: 2em; } 
    .redes__nav a img {
      width: 50px; }
    footer p {
      font-size: 1em; }

    .albumes {
      height: fit-content;
      width: fit-content;
      background-image: none; }
    .visuales__captura video {
      width: 15rem; }
    .visuales__captura h2 {
      font-weight: 300;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    .visuales__fotos li img {
      border: white solid 0.03rem;
      border-radius: 1rem;
      padding: 1rem;
      width: 80px;
      background-color: black; }
    .visuales__fotos li img:hover {
      transform: none; }

    .videocrew {
      height: fit-content;
      width: fit-content;
      background-image: none;}
    .videocrew video {
      width: 18rem; }
    .videocrew h2 {
      font-weight: 300;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    .tours__mapa li h2 {
      font-weight: 300;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    .tours__mapa iframe {
      width: 10rem;
      height: 10rem; }
    .tours__mapa {
      padding-top: 1rem;
      padding-bottom: 1rem; }
      
    .ventas {
      background-image: none; }
    .seleccion {
      width: 50%; }
    .seleccion fieldset legend {
      font-size: 1em;
      font-weight: 300;
      padding-top: 1rem;
      padding-bottom: 1rem; }
    .seleccion p {
      font-weight: 300; }
    .seleccion img {
      width: 15rem;
      font-weight: 300; }

    .registro {
      background-image: none; }
    .registro form legend h2 {
      font-weight: 300;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    .registro p {
        font-weight: 300;}
}

@media (min-width: 768px) {
    header {
      background-color: white; }
    .presentacion {
      background-image: url(../multimedia/fondoblanco.png); }
}

@media (max-width: 1024px) {
    .tours__mapa li h2 {
      font-size: 1em;
      font-weight: 300;
      padding-top: 1rem;
      padding-bottom: 1rem; }
    .tours__mapa iframe {
      width: 10rem;
      height: 10rem; }
    .tours__mapa {
      padding-top: 1rem;
      padding-bottom: 1rem; }
}